*{margin: 0px;padding: 0px}
a{text-decoration: none}


.header{
    width:100%;
    height: 40px;
    background: #333333;
}

.body{
    width: 100%;
    height: 1200px;
}
.wordcloud{
    width:100%;
    height: 200px;
    background: #cccccc;
}

.hotlist{
    width: 100%;
    height: 1000px;
}

.hot{
    width: 300px;
    height: 1000px;
    float: left;
}
.hot_title{
    width: 300px;
    height: 40px;
    background: #ffffff;
    text-align: left;
}

.hot_item{
    width: 300px;
    height: 960px;
    text-align: left;
    background: beige;
}

.hot_item ol{
    padding-top: 10px;
}

.hot_item li{
    font-size: 20px;
}

.grad{
    width: 1549px;
    height: 1000px;
    background: antiquewhite;
    float: right;
}
.footer{
    width:100%;
    height: 30px;
    background: #333333;
}