*{margin: 0px;padding: 0px}
a{text-decoration: none}


.header{
    width:100%;
    height: 40px;
    background: #333333;
}

.body{
    width: 100%;
    height: 1200px;
    background: #f9f7f6;
}
.wordcloud{
    width:2000px;
    height: 200px;
    background:url("/static/pic/1.png");
    background-size: 2000px 200px;
}

.hotlist{
    width: 100%;
    height: 200px;
}

.hot{
    width: 20%;
    height: 980px;
    float: left;
    border-right: 1px solid #f9f7f6;
    margin-top: 5px;
}
.hot_title{
    width: 300px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-weight: bold;
}

.li_item{
    height: 25px;
    margin-top: 5px;
}
.li_item:hover{
    background: #FDB45C;
}
.hot_item{
    width: 300px;
    height: 940px;
    text-align: left;
    background: #ffffff;
}

.hot_item ol{
    padding-top: 10px;
}

.hot_item li{
    font-size: 20px;
}

.grad {
    padding-left: 5px;
    margin-top: 40px;
    float: left;
    width:  80% ;
    height: 640px;
}

.grad_bar{
    width: 100%;
    height: 400px;
    background: #f9f7f6;
}

.grad_bar1{
    width: 30%;
    height: 400px;
    float: left;
}
.grad_bar2{
    width: 25%;
    height: 400px;
    margin-left: 10px;
    float: left;
}
.grad_bar3{
    width: 25%;
    height: 400px;
    float: left;
    margin-left: 35px;
}
.grad_bar2_detail_inc{
    width: 4%;
    height: 400px;
    float: left;
}

.grad_bar2_detail_info{
    width: 6%;
    height: 400px;
    float: left;
}
.grad_bar2_detail_info_item1{
    width:50px;
    height: 20px;
    background: #F7464A;
    margin-top: 10px;

}
.info{
    margin-top:8px;
}

.grad_bar2_detail_info_item2{
    width:50px;
    height: 20px;
    background: #46BFBD;
    margin-top: 10px;
}

.grad_bar2_detail_info_item3{
    width:50px;
    height: 20px;
    background: #FDB45C;
    margin-top: 10px;
}

.grad_bar2_detail_info_item4{
    width:50px;
    height: 20px;
    background: #949FB1;
    margin-top: 10px;
}

.grad_bar2_detail_info_item5{
    width:50px;
    height: 20px;
    background: #df6659;
    margin-top: 10px;
}
.grad_bar2_detail_info_item6{
    width:50px;
    height: 20px;
    background: #64448f;
    margin-top: 10px;
}
.grad_commit{
    margin-top: 15px;
    width: 100%;
    height: 530px;
    background: #ffffff;

}
.footer{
    width:100%;
    height: 30px;
    background: #333333;
}